@import "../../assets/styles/pallete";
.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  .card {
    padding: 25px;
    cursor: pointer;
    transition: margin-top 1s;
    height: 350px;
    width: 32%;
    margin-top: 30px;
    background-color: #f5f6f7;
    &:hover {
      z-index: 1;
      margin-top: 10px;
    }
    &-icon {
      display: block;
      margin: auto;
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
    &-title {
      padding: 20px;
      font-size: 1.5em;
      color: $theme-green;
    }
    &-content {
      padding: 0;
    }
  }
}
