@import url("https://fonts.googleapis.com/css?family=Varela+Round");
@import "../assets/styles/pallete";
$linkedin-blue: #0077b5;
$footer-height: 100px;
.layout {
  width: 100%;
  min-height: 100%;
  position: relative;
  font-family: "Varela Round", sans-serif;
  background-color: #f9f9f9;
  .header {
    background-color: #f9f9f9; //Repeated to override Bulma default background-color
    padding: 0px 50px 0px 50px;
    .profile-picture {
      border-radius: 50%;
      &-mobile {
        display: none;
      }
    }
    .nav {
      &-menu {
        a.is-active {
          color: $theme-green;
          text-decoration: underline;
        }
      }
    }
  }
  .content {
    margin: auto;
    margin-bottom: 0 !important;
    width: 80%;
    max-width: 1170px;
    padding-bottom: $footer-height + 40px;
  }
  footer {
    position: absolute;
    width: 100%;
    height: $footer-height;
    bottom: 0;
    background-color: $theme-green;
    padding: 20px;
    color: white;
    .social-media-links {
      display: flex;
      justify-content: space-around;
      width: 60%;
      margin: auto;
      a {
        color: white;
        text-decoration: none;
        font-size: 2em;
        &:hover {
          transition: color 1s;
        }
        &.github {
          &:hover {
            color: black;
          }
        }
        &.linkedin {
          &:hover {
            color: $linkedin-blue;
          }
        }
        &.twitter {
          &:hover {
            color: skyblue;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .layout {
    .header {
      padding: 0;
      .profile-picture {
        display: none;
        &-mobile {
          display: block;
          margin: auto;
          padding-top: 25px;
          padding-bottom: 25px;
        }
      }
      .navbar {
        &-burger {
          color: $theme-green;
        }
      }
      .nav {
        display: block;
        position: absolute;
        width: 100%;
        padding: 0;
        z-index: 1;
        &.is-active {
          max-height: 100vh;
          padding: auto;
          .nav-menu {
            a {
              &.navbar-item {
                opacity: 1;
                height: 40px;
                padding: 8px 12px 8px 12px;
                transition: height 0.5s;
              }
            }
          }
        }
        &-menu {
          a {
            &.navbar-item {
              opacity: 0;
              height: 0;
              padding: 0;
              transition: height 0.5s;
            }
          }
        }
      }
    }
  }
}
